<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid overflow-hidden">
      <a class="navbar-brand"> <img src="assets/Image/teachcareerLogo.png">  </a>
      <div class="navbar navbar-expand-lg" style="width:640px;">
          <a routerLink="/home" class="m-2 ms-4" style="text-align: center;">HOME</a>
          <a routerLink="/products" class="m-2 ms-4" style="text-align: center;">PRODUCTS</a>
          <a routerLink="/categories" class="m-2 ms-4" style="text-align: center;">CATEGORIES </a>
          <a routerLink="/employees" class="m-2 ms-4" style="text-align: center;">EMPLOYEES</a>
          <a routerLink="/contact" class="m-2 ms-4" style="text-align: center;">CONTACT US</a>
          <a routerLink="/login" class="m-2 ms-3" style="text-align: center;"> LOGIN </a>
      </div>

      <!-- NOT1: HOVER VS EKLE-->
      <!-- NOT2: Teachcareer yerini sonra ayarla-->
  </div>
</nav>

<router-outlet></router-outlet>
