<div class="container-fluid mt-4" style="min-height:600px;">
  
    <!-- Slider Başlangıç -->
    <div id="carouselExampleControls" class="carousel slide mt-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Image/random1.jpg" class="d-block w-75 mx-auto" style="height:280px;" alt="Random1">
        </div>
        <div class="carousel-item">
          <img src="assets/Image/random2.jpg" class="d-block w-75 mx-auto" style="height:280px;" alt="Random2">
        </div>
        <div class="carousel-item">
          <img src="assets/Image/random3.jpg" class="d-block w-75 mx-auto" style="height:280px;" alt="Random3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--Slider Bitiş-->
    <!-- Tanıtım Kısmı Başlangıç-->
    <div class="border border-2 border-light mt-3 w-75 mx-auto">

      <div class="card mx-auto mt-3 p-3" *ngFor="let pres of pres" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{pres.image}}" class="img-fluid rounded-start mt-3" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> {{pres.names}} {{pres.surname}}</h5>
              <p class="card-text">{{pres.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <!--Tanıtım Kısmı Bitiş-->
</div>



<footer></footer>